apiVersion: v1
kind: Service
metadata:
  name: orgx-peer1
spec:
  selector:
    service: orgx-peer1
  ports:
    - protocol: TCP
      port: 80
      targetPort: 7777
      name: tcp
      nodePort: 30016
    - protocol: TCP
      name: tcp-grpc-automation-project
      port: 82
      targetPort: 2000
      nodePort: 30046
    - protocol:  TCP
      name: operations
      port: 83
      targetPort: 9008
      nodePort: 30060
  type: NodePort