apiVersion: v1
kind: Service
metadata:
  name: orgx-couch-peer1
spec:
  selector:
    service: orgx-couch-peer1
  ports:
    - protocol: TCP
      name: tcp
      port: 80
      targetPort: 5984
  type: ClusterIP